:root {
  --clr-background: #242424;
  --clr-text: rgb(239, 239, 239);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--clr-text);
  background-color: var(--clr-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-family: inherit;
}

button {
  font-family: inherit;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}

a {
  text-decoration: none;  
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: light) {
}
